@CHARSET "UTF-8";

body{
	font-size: 12px;
	color: #333333;
	font-family: Arial,Helvetica,sans-serif
}
.botonera{
	
	margin-top: 15px;
}

.botonera .ui-button{
	 background-color: #FCCC73;
    background-image: -moz-linear-gradient(center bottom , #FCCC73 0%, #FAE198 100%);
    border: 1px solid #E6BD4C;
    color: #754C00;
    text-shadow: 1px 1px 0 #FFEBB7;
  
}


.ui-selectonemenu{
	
    border: 1px solid #D8D8D8;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #888888;
    display: block;
    font: 12px Arial,sans-serif;
    width: 80%;
    outline: medium none;
margin-bottom: 12px;
height: 19px;
padding: 4px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #888888;
    display: block;
    font: 12px Arial,sans-serif;
    width: 80%;
    outline: medium none;
margin-bottom: 12px;
height: 19px;
padding: 4px;

}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #888888;
    display: block;
    font: 12px Arial,sans-serif;
    width: 80%;
    outline: medium none;
margin-bottom: 12px;
height: 19px
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */

  line-height: normal;
  cursor: pointer;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{    background: none repeat scroll 0 0 #FFFFFF;
        background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D8D8D8;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    color: #888888;
    display: block;
    font: 12px Arial,sans-serif;
    width: 80%;
    outline: medium none;
margin-bottom: 12px;
height: 19px

}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

.ui-tabs{
	margin: 0 auto;
	width: 100%;
	border:none;
}
.container .field .ui-button{
	  background-color: #FCCC73;
    background-image: -moz-linear-gradient(center bottom , #FCCC73 0%, #FAE198 100%);
    border: 1px solid #E6BD4C;
    color: #754C00;
    text-shadow: 1px 1px 0 #FFEBB7;
    margin-top: 9px;
}

.container .field .ui-buttonCancelar {
    background-color: #C74039;
    background-image: -moz-linear-gradient(center bottom , #C74039 0%, #E35752 100%);
    border: 1px solid #B23730;
    color: #FFFFFF;
    margin-left: 20px;
    text-shadow: 1px -1px 0 #A43B37;
}


.span13{
	 

}


#tooltip {
        color: #000000; outline: none;
        cursor: help; 
        text-decoration: none;
        position: absolute;
  }
#tooltip span {
        margin-left: -999em;
        position: absolute;
        text-decoration: none;
  }
#tooltip:hover span {
        border-radius: 5px 5px; 
        -moz-border-radius: 5px; 
        -webkit-border-radius: 5px; 
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
        -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); 
        -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
        position: absolute;  z-index: 99;
        margin-left: 0; width: 250px;
        text-decoration: none;
        background: #000000;
        color: #ffffff;
        padding: 8px;
        opacity:0.6;
  }
#tooltip:hover img {
        
        text-decoration: none;
  }
#tooltip:hover em {
        font-size: 1.2em; 
        font-weight: bold;
        display: block; padding: 0.2em 0 0.6em 0;
  }
#cos { padding: 0.5em 0.8em 0.8em 2em; }
#ayuda {     
      background:#111;
   background:rgba(0,0,0,.8);
   border-radius:5px;
   color:#fff;
   }

[class^="icon-"]:last-child, [class*=" icon-"]:last-child {
}
.icon-info-sign {
    background-position: -120px -96px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../html/images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    opacity: 0.8;
    vertical-align: text-top;
    width: 14px;
}

.Ayuda{background-image: url("../html/images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    opacity: 0.8;
    vertical-align: text-top;
    width: 14px;
	
}

label, legend {
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}
.field{
width: 50%; float: left;
font-size: 12px;
}

.field1{
width: 25%; float: left;
font-size: 12px;
}

#tooltip img{
	 margin-top: -3px;
    vertical-align: bottom;
}

.ui-tabs .ui-tabs-nav{
	background: none;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav  a{
background-color: #F9F9F9;
    background-image: -moz-linear-gradient(center bottom , #F7F7F7 0%, #FFFFFF 100%);
    border: 1px solid #DDDDDD;
    color: #888888;
    display: block;
    letter-spacing: 0;
    outline: medium none;
    padding: 0 16px;
    text-decoration: none;
}

.ui-widget button[type="submit"]{
    background-color: #FCCC73;
    background-image: -moz-linear-gradient(center bottom , #FCCC73 0%, #FAE198 100%);
    border: 1px solid #E6BD4C;
    color: #754C00;
    text-shadow: 1px 1px 0 #FFEBB7;
}

.ui-tabs-panel{
	  border: 1px solid #DDDDDD;
    color: #888888;
    border-radius:4px; 
  
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
    color: #888888;
    font-weight: bold;
  background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}


.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus{
	box-shadow:none;
}

.ui-messages-error, .ui-message-error{
	background-color: #FFE9E9;
    background-image: -moz-linear-gradient(center bottom , #FFE9E9 0%, #FFF2F2 100%);
    border: 1px solid #FBC4C4;
    color: #DE5959;
    padding: 14px 18px;
    

}
.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon, .ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon, .ui-message-fatal-icon{
	background: none;
}
.ui-messages-info-summary, .ui-messages-warn-summary, .ui-messages-error-summary, .ui-messages-fatal-summary, .ui-message-info-summary, .ui-message-warn-summary, .ui-message-error-summary, .ui-message-fatal-summary{
	font-weight: normal;
	font-size: 12px;
}
.ui-widget-content{
	border:none;
}

.terminosyCondiciones{
	border: 1px solid #DDDDDD;
    height: 250px;
    overflow-y: scroll;
    padding-left: 10px;
    padding-right: 10px;
    width: 98%;
    

}

.terminosyCondiciones h2{
	font-size: 14px;
	color: #999999;
}

.terminosyCondiciones h3{
	font-size: 13px;
	color: #999999;
}
.ui-widget-content .terminosyCondiciones ul{
	font-size: 11px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.ui-widget-content .terminosyCondiciones ul li{
	font-size: 11px;

	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.terminosyCondiciones p {
	font-size: 11px;
	text-align: justify;
}
.ui-widget-content{
	font-size: 12px;
}

.TerminosImprimir{
	background-image: url("/portal/resources/ico_pdf.jpg");
	 background-position: left top;
    background-repeat: no-repeat;
    height: 31px;
    margin-top: 22px;
    padding-left: 22px;
    padding-top: 4px;
    text-indent: 46px;
}

.ui-chkbox .ui-chkbox-box {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 10px;
    margin-right: 3px;
    width: 10px;
}

.headline {
    border-bottom: 1px solid #E7E7E7;
    display: block;
    margin: 20px 0;
    padding: 0 0 10px;
}

.IMGLOGIN{
 background-image: url('/portal/resources/img_login.png'); background-size:cover; height: 300px; width: 65%; float: right; border-radius:5px;
}
.ui-tabs .ui-tabs-nav li{
	border: none;
	top:2px;
	border-bottom: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	border: none;
	border-radius:2px; 
}
.ui-selectonemenu{
	width: 200px;
}
.ui-tabs-panels {
	border: 1px solid #dddddd;
	border-radius: 2px;
	height: auto;
	overflow: hidden;
	margin-left: 2px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{
	border-radius:2px; 
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{
	border-radius:2px;
}
#messages .ui-messages-error,.ui-message-error {
	background-color: #FFE9E9;
	background-image: -moz-linear-gradient(center bottom, #FFE9E9 0%, #FFF2F2 100%);
	border: 1px solid #FBC4C4;
	color: #DE5959;
	padding: 14px 18px;
}


#messages .ui-messages-info-icon,.ui-messages-warn-icon,.ui-messages-error-icon,.ui-messages-fatal-icon,.ui-message-info-icon,.ui-message-warn-icon,.ui-message-error-icon,.ui-message-fatal-icon
	{
	background: url("/portal/resources/alert_boxes_close_ico.png") no-repeat
		scroll 0 0 transparent;
	display: block;
	height: 8px;
	padding: 0 14px;
	position: absolute;
	top: 34px;
}

.ui-tabs .ui-tabs-nav {
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    padding: 0.2em 1.2em 0;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #7096AB;
    box-shadow: 0 0 3px #85B2CB;
    color: #313131;
    font-weight: bold;
}