<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Pay per TIC</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Le styles -->
		<link href="../static/css/bootstrap.css" rel="stylesheet">
		<link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../static/css/style.css" rel="stylesheet">
		
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="../static/js/jqBootstrapValidation.js"></script>

		<script>
			$(function() {
				$("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
			});
		</script>
		<script>
function cerrarse(){
window.close()
}
</script>

	</head>

	<body>
		
				
		<div class="container">
			<div class="span12">
<div class="row">
<div class="span5 offset3">
		
		
				
						<div style="width:80%; margin:0 auto;">
							<div class="exito">
    <span class="exitoTexto">Ups!</span>
	<div class="errorContent">
        <span class="exitoDesc"> ha ocurrido un error!
		
		Descripcion: {{error}}</span>


    </div>
</div>
			
								
						</div>
		<!--end form-bg-->
		</div>
		</div>
		</div>
	</div><!--end container-->
		
		
		
		
		
		
		
		
	
	</body>

</html>
